body {
    /*background: rgb(142, 164, 173);*/
    background: rgb(160, 129, 106);
    margin: 0%;
    padding: 0%;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    text-align: center;
    margin: 16px;
    font-size: 40px;

}

/* Styling for the navigation bar on top of the page */
.topnav {
    /*background-color: rgb(110, 186, 216);*/
    background: rgb(92, 63, 41);
    opacity:0.9;
    overflow: hidden;
    align-content: center;
    margin: 0 auto;
  }
  /* do not allow floating elements to the left or right of the element*/
  .topnav.clear{
    clear: both;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    /*#4CAF50*/
    /*background-color: rgb(86, 165, 240);*/
    background: rgb(155, 111, 78);
    color: white;
  }

  /*Styling for Intro Text*/
  .Intro{
    margin: 0 auto;
    width: 60%;
    align-content: center;
  }
  .Intro p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
	  text-justify: auto;
  }

  /*Styling for About me page*/
  .AboutMe p{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin: 47px;
    font-size: 20px;
	  text-justify: auto;
  }

  /* Styling for the links section */
  .PostLinks{
    margin: 0 auto;
    width: 60%;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
  }
  .PostLinks span.Date{
    font-weight: bold;
  }
  .PostLinks span.Name{
    font-style: italic;
  }
  .PostLinks span.a{
    color: black;
  }

  /* Styling for the footer on the main page */
  .MainFooter{
    align-content: center;
    text-align: center;
    margin: 16px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
  }

.CommingSoon {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  margin: 47px;
  font-size: 20px;
  text-justify: auto;
}

.PostText {
  margin: 0 auto;
  width: 60%;
  align-content: left;
  }
.PostText p{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
	text-justify: auto;
  }
